<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta name="keywords" content="web des, affordable web design, professional web design">

    <link rel="stylesheet" href="static\css\main.css">
    <LINK REL="SHORTCUT ICON" href="https://img.icons8.com/clouds/100/000000/map-pin.png">
    	
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>

    
    {% block head %}{% endblock %}

</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Conhecendo a<span class = "highlight"> Poli</span></h1>
                <a href="/"><img src= "static\img\iconemapa.png" class="logo"></a>
            </div>
            <nav>
                <ul>
                    <li class = "current"><a href="/">Inicio</a></li>
                    <li><a href="encontrar_atividades">Encontrar atividades</a></li>

                    {% if session['logged_in'] and session['priority'] > 0 %}
                    <li><a href="grade">Grade</a></li>
                    <li><a href="sugerir_topicos">Sugerir Topicos</a></li>
                    {% endif %}

                    {% if session['logged_in'] and session['priority'] > 2 %}
                    <li><a href="aceitar_topicos">Aceitar topicos</a></li>
                    {% endif %}

                    {% if session['logged_in'] and session['priority'] > 4 %}
                    <li><a href="gerenciar_colaboradores">Gerenciar Colaboradores</a></li>
                    {% endif %}

                    {% if session['logged_in'] %}
                    <a href="sair">Sair</a>
                    {% endif %}


                </ul>
            </nav>
            </div>
    </header>
<div class = "conteudo">
{% block body %}{% endblock %}
</div>


<footer>
    <p>Conhecendo a Poli, Copyright &copy; 2019</p>

</footer>
    
</body>
</html>