{% extends "base/base.html" %}

{% block head %}
    <title>Aceitar topicos - Conhecendo a poli</title>
{% endblock %}

{% block body %}
    
    <div class="card">
    {% if session['logged_in'] and session['priority'] > 2 %}

    {% if not eventos %}
    <p>Nada por aqui</p>
    {% endif %}
    {% for evento in eventos %}
    
        <table class="boxevento">
            <tr>
                <th>Evento</th>
                <th class="info">Informações</th>  
            </tr>
                <tr>
                    <td class=infoevento>Nome</td>
                    <td>{{evento[1]}}</td>
                </tr>
                    <tr>
                        <td class=infoevento>Data de Início/ Fim</td>
                        <td>{{evento[4]}} / {{evento[4]}} </td>
                    </tr>

                    <tr>
                        <td class=infoevento>Hora</td>
                        <td>{{evento[5]}} / {{evento[6]}}</td>
                    </tr>
    
                <tr>
                    <td class=infoevento>Local</td>
                    <td>{{evento[3]}}</td>
                </tr>
                <tr>
                    <td class=infoevento>Tipo</td>
                    <td>{{evento[7]}}</td>
                </tr>
                <tr>
                    <td class=infoevento>Assunto</td>
                    <td>{{evento[8]}}</td>
                </tr>
                <tr>
                    <td class=infoevento>Descrição</td>
                    <td>{{evento[2]}}</td>
                </tr>
            </tr>
        </table>
    </br>
        <div>
            <form action="/topico_aceito" method="POST">
                <input type="hidden" name="eventos" value="{{evento[0]}}">
                <input type="submit" class="aceitar2" class="aceitar" value="Aceitar Evento">
            </form>
        </div>
        <div>
            <form action="/topico_recusado" method="POST">
                <input type="hidden" name="eventos" value="{{evento[0]}}">
                <input type="submit" class="excluir2" value="Excluir Evento">
            </form>
        </div>
    
    {% endfor %}

    {%else%}
    <p>Seja um colaborador para acessar</p>
    {% endif %}

</div>
{% endblock %}