
{% extends "base/base.html" %}

{% block body %}
    {% if session['logged_in'] %}
        <p>Você está logado</p>
    
    {% else %}
    <div class="user-box">
    <img src="static\img\avatar.png" class="avatar">
    <form action="/cadastrar" method="POST">
        <p>Usuário</p>
        <input type="text" name="usuario" placeholder="User">
        <p>Email</p>
        <input type="email" name="email" placeholder="Email">
        <p>Senha</p>
        <input type="password" name="senha" placeholder="Senha">
        <input type="submit" value="cadastrar" >
    </form>
    </div>

    {% endif %}
{% endblock %}