{% extends "base/base.html" %}

{% block head %}
    <title>Conhecendo a poli | Encontrar atividades</title>
{% endblock %}

{% block body %}
    <p>Encontrar atividades</p>
    {% for diciplina in diciplinas %}
        <table>
            <tr>
                <th>Diciplina</th>
                <th>Codigo</th>
                <th>Sala</th>
                <th>Creditos</th>
            </tr>
            
                <tr>
                    <td>{{diciplina[0]}}</td>
                    <td>{{diciplina[1]}}</td>
                    <td>{{diciplina[2]}}</td>
                    <td>{{diciplina[4]}}</td>
                </tr> 
            
        </table>
    {% endfor %}
{% endblock %}