{% extends "base/base.html" %}

{% block head %}
    <title>Grade - Conhecendo a poli</title>
{% endblock %}

{% block body %}
        
    <form action="/enviar_grade" method="POST">
    <table id="editable" class="boxgrade">
    <tr >
        <th class="dias"> Horario </th>
        <th class= "dias">Domingo</th>
        <th class= "dias">Segunda</th>
        <th class= "dias"> Terça </th>
        <th class= "dias">Quarta</th>
        <th class= "dias">Quinta</th>
        <th class= "dias"> Sexta </th>
        <th class= "dias">Sábado</th>
    </tr>
    {% for i in range(7, 20)%}
        <tr>
            <th class="horario">{{i}}:00</th>
            {% for j in range(1,8)%}
                
                <td class="grade"></td>
            {% endfor %}
            
            
            
        </tr>
            
    {% endfor %}
    </table>
    <input type="submit" value="Login" >
    </form>

    <script>
        function marcardesmarcar(id){
            document.getElementById(id).checked = !document.getElementById(id).checked;
        }
    </script>
{% endblock %}