{% extends "base/base.html" %}

{% block head %}
    <title>Conhecendo a poli</title>
{% endblock %}

{% block body %}
    <div class="inicio">
    
    <h1>Olá! A Conhecendo a Poli deseja boas vindas!</h1>
    {% if not session['logged_in'] %}
    
    <h2>Escolha como proceder:</h2>
    <form>
    <input type="button" value="Login" onclick="window.location.href='login'" />
    </form>
    <form>
    <input type="button" value="Cadastro" onclick="window.location.href='cadastro'" />
    </form>
    
    {% endif %}

    <!--COLOCAR OLÁ USER-->

    </div>
    
{% endblock %}
