{% extends "base/base.html" %}

{% block head %}
    <title>Conhecendo a poli</title>
{% endblock %}

<div class="topnav" id="myTopnav">
        <a href="/" class="active">Inicio</a>
</div>

{% block body %}
<div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>Bem vindo, universitário!</strong> Acesse nossa página do aluno para uma experiência personalizada!
</div>
<div class="leftcolumn">
        <div class="card">
          <h2>EVENTO 1</h2>
          <h5>Title description, Dec 7, 2017</h5>
          <div class="fakeimg" style="height:200px;">Image</div>
          <p>Some text..</p>
          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
        <div class="card">
            <h2>EVENTO 2</h2>
            <h5>Title description, Sep 2, 2017</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
 </div>
 <div class="rightcolumn">
        <div class="card">
          <h3>Colabore conosco!</h3>
          <a href="#colabore">
          <div class="imghelp" style="height:100px;"></div></a>
          <p>Seja um colaborador e nos ajude a manter universitários informados!</p>
        </div>
        <div class="card">
          <h3>Onde está a Escola Politécnica:</h3>
          <div class = "map-responsive">
          
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3676.4638681770484!2d-43.23318398489917!3d-22.85931674192612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x99793830ed1931%3A0x578e218b106e4493!2sEscola%20Polit%C3%A9cnica%20da%20UFRJ!5e0!3m2!1spt-BR!2sbr!4v1575668410689!5m2!1spt-BR!2sbr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                  
          </div>
        </div>        
      </div>




    
{% endblock %}

