{% extends "base/base.html" %}

{% block head %}
    <title>Login - Conhecendo a poli</title>
{% endblock %}

{% block body %}
<div class="card">
    {% if session['logged_in'] %}
        <p>Você já está logado</p>
    
    {% else %}
    <div class="user-box">
    <img src="static\img\avatar.jpg" class="avatar">
    <form action="/logar" method="POST">
        <p>Usuário</p>
        <input type="text" name="usuario" placeholder="Usuário ou Email">
        <p>Senha</p>
        <input type="password" name="senha" placeholder="Senha">
        <input type="submit" value="Login" >
    </form>
    <a onclick="esqueci()">Esqueci a senha</a>
    </div>

    <script>
    function esqueci() {
      alert("Dó Ré Mi Fa Solamento");
    }
    </script>
    {% endif %}

    {% if erro_log %}
    <script>
        alert("Algo de errado não está certo");
    </script>

    {% endif %}

</div>
{% endblock %}

