{% extends "base/base.html" %}

{% block body %}
    {% if session['logged_in'] %}
        <p>Você já está logado</p>
    
    {% else %}
    <div class="user-box">
    <img src="static\img\avatar.png" class="avatar">
    <form action="/logar" method="POST">
        <p>Usuário</p>
        <input type="text" name="usuario" placeholder="Usuário ou Email">
        <p>Senha</p>
        <input type="password" name="senha" placeholder="Senha">
        <a href="#">Forget Password</a> 
        <input type="submit" value="Login" >
    </form>
</div>

{% endif %}
{% endblock %}
