{% extends "base/base.html" %}

{% block head %}
    <title>Sugerir topicos - Conhecendo a poli</title>
{% endblock %}

{% block body %}
<div class = "left column">
    <div class = "card">
    <form action="/sugerir" method=POST>
    <div class="evento-box">
    <h1 class="titulo">Cadastre um evento</h1>

    {% for tt in teste%}
        <h6 style="text-align: center;margin-bottom: 0;">{{tt}}</h6>
    {% endfor%}

    <div class="tit">Nome</div>
    <input type="text" name="nome" id="nome" placeholder="Nome do evento"><br>
    <div class="tit">Local</div>
    <input type="text" name="local" id="local" placeholder="Local do evento">

    <div class="tit">Data</div>
    <input class="data" type="date" name="data_inicio" id="data" placeholder="Data Inicio">
    <input class="data" type="time" name="hora_inicio"  placeholder="Hora"><br>
    <input class="data" type="date" name="data_fim" id="data" placeholder="Data Fim">
    <input class="data" type="time" name="hora_fim" placeholder="Hora">

    <div class="tit">Quais os cursos são relacionados ao evento?</div>
    <label class="container">Computação
        <input type="checkbox" name="assunto1" value="computacao" >
        <span class="checkmark"></span>
    </label>
    <label class="container">Eletrica
            <input type="checkbox" name="assunto2" value="eletrica" >
            <span class="checkmark"></span>
        </label>
        <label class="container">Controle
                <input type="checkbox" name="assunto3" value="controle" >
                <span class="checkmark"></span>
        </label>

        <div class="tit"> Qual o tipo do evento? </div>
        <label class="container2"> Palestra
                <input type="radio" name="tipo" value="palestra" >
                <span class="checkmark2"></span>
        </label>
        <label class="container2"> Workshop
                <input type="radio" name="tipo" value="workshop">
                <span class="checkmark2"></span>
        </label>
        <div class="tit">Descreva o Evento</div>
        <input type="text" placeholder="Não seja timido!"></textarea>
        <input type="submit" value="Criar">
        </form>

</div>
</div>
</div>

{% endblock %}